<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Component Id="cmp681DF2037579F44438CF82A5519DB357" Guid="PUT-GUID-HERE" KeyPath="yes">
                <RegistryKey Key="*\shell\ReFInfo\command" Root="HKCR">
                    <RegistryValue Value="X:\AndrewN\PC Backup - For Win 10 Install\Andrew\code\cs\ReFInfo\bin\Release\ReFInfo.exe &quot;%1&quot;" Type="string" />
                </RegistryKey>
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Component Id="cmp72B0CADDF28940CED0BB130DE575A81B" Guid="PUT-GUID-HERE" KeyPath="yes">
                <RegistryKey Key="*\shell\ReFInfo" Root="HKCR">
                    <RegistryValue Value="Revit File Version Information" Type="string" />
                    <RegistryValue Name="AppliesTo" Value="System.FileName:&quot;*.rfa&quot; OR System.FileName:&quot;*.rvt&quot;" Type="string" />
                    <RegistryValue Name="icon" Value="X:\AndrewN\PC Backup - For Win 10 Install\Andrew\code\cs\ReFInfo\bin\Release\ReFInfo.exe,0" Type="string" />
                </RegistryKey>
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>